html {
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 850px;
  height: 650px;
  margin: 15px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid black;
}

.box {
  background-color: rgb(213, 223, 218);
  height: 100%;
  width: 100%;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.clear-grid {
  margin-left: 8px;
}
